{% extends "base_generic.html" %}
{% block style %}
    .product-title,  .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }
{% endblock %}
{% block content %}
    <div class="container bg bg-white">

    <div class="container-fliud">
    <div class="wrapper row">
    <div class="preview col-6">

        <div class="preview-pic tab-content">
            <div class="tab-pane active  my-auto mx-auto" id="pic-1"><img
                    src="{{ book.pic.url }}" height="500" width="400"/>
            </div>
        </div>


    </div>
    <div class="details col-6">
        <h1>Title: {{ book.title }}</h1>

        <p><strong>Author:</strong>{{ book.author }}</p>
        <p><strong>Summary:</strong> {{ book.summary }}</p>
        <p><strong>ISBN:</strong> {{ book.isbn }}</p>
        <div style="margin-left:20px;margin-top:20px">
            <h4>Copies</h4>
            {% if user.is_superuser %}
                <a class="btn btn-danger" href="{% url 'book_delete' pk=book.id %}">DELETE</a>
                <a class="btn btn-success" href="{% url 'book_update' pk=book.id %}">Update</a>

            {% endif %}
       </div>

    </div>

{% endblock %}